* {
    box-sizing: border-box;
}

body {
    background: darkgray;
    padding: 25px 25px 125px 25px;
    margin: 0 auto;
    width: 960px;
}

nav {
    position: relative;
    margin-top: 25px;
    margin-right: 60px;
}

nav li {
    font-size: 15px;
    font-weight: bolder;
    text-align: right;
    margin-top: 50px;
    padding-right: 10px;
    margin-right: 20px;
    float: right;
    list-style-type: none;
}

a {
    text-decoration: none;
}

a:visited {
    color: white;
}

.contact,
.portfolio {
    color: white;
    border-right: 1px solid white;
}

.contact,
.portfolio,
.about, a:hover {
    color: rgb(162, 62, 245);
}

p::first-line {
    color: rgb(162, 62, 245);
}

.content-background {
    position: relative;
    /* background-image: url("images.memphis.png") */
    margin-top: 113px;
    background-color: white;
    padding: 30px 80px 150px 80px;
    border-top: 1px solid rgb(162, 62, 245); 
}

h1 {
    position: absolute;
    left: 80px;
    color: white;
    background-color:rgb(162, 62, 245);
    padding: 20px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
}
 
h2 {
    color: rgb(162, 62, 245);
    border-bottom: 1px solid rgb(162, 62, 245);
    padding-bottom: 10px;
}

 #about-me-pic {
    height: 150px;
    width: 150px;
    float: left;
    padding-right: 15px;
    padding-bottom: 10px;
}

.#about-me-pic:hover {
    opacity: 0.3;
}

.content {
    background-color: whitesmoke;
    margin: 0 auto;
    padding: 20px;
    width: 660px;
    font-size: 15px;
}
 

footer {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    background: whitesmoke;
    padding-top: 35px;
    border-top: 5px solid rgb(162, 62, 245);;
    text-align: center;
    font-size: .5em;
    color: rgb(162, 62, 245);
}

/* media query for 640px */

@media screen and (max-width:640px) {
    nav {
    margin-top: 0px;
    margin-right: 250px;
    }

    ul {
        margin-right: 43%;
    }

    .content-background {
      width: 50%; 
      padding: 10px 10px 50px 10px; 
    }

    h1 {
        position: absolute;
        bottom: -40px;
        left: -90px;
        width: 100%;
    }

    #about-me-pic {
    float: none;
    height: 300px;
    width: 400px;
    }

    .content {
        width: 100%;
    }
}





