@media screen and (max-width:640px) {
    nav {
    margin-top: 0px;
    margin-right: 250px;
    }
}


@media screen and (max-width:640px) {
    ul {
        margin-right: 43%;
    }
}

@media screen and (max-width:640px) {
    .content-background {
      width: 50%; 
      padding: 10px 10px 50px 10px; 
    }
}

@media screen and (max-width: 640px) {
    h1 {
        position: absolute;
        bottom: -40px;
        left: -90px;
        width: 100%;
        /* text-align: center; */
    }
}

@media screen and (max-width:640px) {
    #about-me-pic {
    float: none;
    height: 300px;
    width: 400px;
    }
}

@media screen and (max-width:640px) {
    .content {
        width: 100%;
    }
}